<div id="panel-row" class="en row" data-js="1">
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="panel-title">You are</h3></div>
      <div class="panel-body"><%= current_user ? current_user.nickname.capitalize : "VISITOR" %></div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">I am</h3></div>
        <div class="panel-body">
          Han
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div  class="group"><h2><%= title %></h2></div>
      <%= simple_form_for @lab_forum, url: url do |f| %>
        <%= f.input :question %>
        <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { height: 400 } } %>
        <%= f.input :category, as: :radio_buttons, collection: LabForum::CATEGORY, wrapper: :horizontal_collection_inline %>
        <%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: 'btn btn-primary' %>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Back' , lab_forum_index_path %><br/><br/>
    </div>
  </div>
<% end %>

<%# text 大小參考網址：https://stackoverflow.com/questions/13556522/cant-change-the-height-of-a-text-field-in-simple-form %>
<%# simple-form 參考網址：http://simple-form-bootstrap.plataformatec.com.br/documentation %>
