<div class="row">
  <div class="col-8">
    <div  class="group"><h2><%= title %></h2></div>
      <%= simple_form_for @lab_forum, url: url do |f| %>
        <%= f.input :question %>
        <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { height: 400 } } %>
        <%= f.input :category, as: :radio_buttons, collection: LabForum::CATEGORY, wrapper: :horizontal_collection_inline %>
        <%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: 'btn btn-primary' %>
      <% end %>
      <%= link_to 'Back', lab_forum_index_path, class: 'btn' %>
    </div>
  <div class="col-4">
</div>

<%# text 大小參考網址：https://stackoverflow.com/questions/13556522/cant-change-the-height-of-a-text-field-in-simple-form %>
<%# simple-form 參考網址：http://simple-form-bootstrap.plataformatec.com.br/documentation %>
