<% content_for :page_title,  "lab_forum" %>

<div class="container-fluid">
  <h4><%= link_to t('lab_forum.add_q'), new_lab_forum_path %></h4>
  <h1><%= t('lab_forum.all_qs') %></h1>
  <table class="table">
    <thead>
      <tr>
        <td><%= t('lab_forum.status') %></td>
        <td><%= t('lab_forum.problem') %></td>
        <td><%= t('lab_forum.author') %></td>
        <td><%= t('lab_forum.category') %></td>
        <td><%= t('lab_forum.action') %></td>
        <td><%= t('lab_forum.create_time') %></td>
        <td><%= t('lab_forum.update_time') %></td>
      </tr>
    </thead>
    <tbody>
      <% @lab_forums.each do |article| %>
      <tr>
        <td>
          <% if article.is_solved == false %>
            <%= link_to 'Open', status_lab_forum_path(article), remote: true, class: 'btn btn-success', id: "btn-#{article.id}" %>
          <% else %>
            <%= link_to 'Closed', status_lab_forum_path(article), remote: true, class: 'btn btn-danger', id: "btn-#{article.id}" %>
          <% end %>
        </td>
        <td class="q"><%= article.question %></td>
        <td class="nick"><%= User.find_by(id: article.user_id).nickname.capitalize %></td>
        <td class="category"><%= article.category %></td>
        <td>
          <% if user_signed_in? && ( article.user_id == current_user.id ) %>
            <%= link_to del_p_mark(fa_icon "eye"), lab_forum_path(article), class: 'btn btn-primary' %>
            <%= link_to del_p_mark(fa_icon "edit"), edit_lab_forum_path(article), class: 'btn btn-primary' %>
            <%= link_to del_p_mark(fa_icon "trash"), lab_forum_path(article),
                  method: "delete", data: { confirm: "Are you sure?" }, class: 'btn btn-primary'  %>
          <% else %>
            <%= link_to del_p_mark(fa_icon "eye"), lab_forum_path(article), class: 'btn btn-primary' %>
          <% end %>
        </td>
        <td class="create"><%= article.created_at.to_s[0..-4] %></td>
        <td class="update"><%= article.updated_at == article.created_at ? "---" : article.updated_at.to_s[0..-4] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <script>

  </script>
</div>
