<%= stylesheet_link_tag 'testimonial' %>

<section class="testimonials">

  <div class="inner">
    <h1>Testimonials</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <%= image_tag("p1.png", alt: "") %>
          <div class="name">Full name</div>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <%= image_tag("model.jpg", alt: "") %>
          <div class="name">Full name</div>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <%= image_tag("p3.png", alt: "") %>
          <div class="name">Full name</div>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="box">
  <img src="profile.jpg" alt="" class="box-img">
  <h1>DarkCode</h1>
  <h5>Web Devloper - Web Designer</h5>
  <p>
    A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or applications that are run over HTTP from a web server to a web browser.
  </p>
  <ul>
    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
  </ul>
</section>

<section>
  <footer>
    <div class="footer-container">
      <div class="left-col">
        <%= image_tag("logo.png", alt: "", class: "logo") %>
        <div class="social-media">
          <a href="#"><i class="fa fa-facebook-f"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <p class="rights-text">© 2020 Created By DarkCode All Rights Reserved.</p>
      </div>

      <div class="right-col">
        <h1>Our Newsletter</h1>
        <div class="email-border"></div>
        <p>Enter Your Email to get our news and updates.</p>
        <form action="" class="newsletter-form">
          <input type="text" class="txtb" placeholder="Enter Your Email">
          <input type="submit" class="email-btn" value="submit">
        </form>
      </div>
    </div>
  </footer>
</section>