<% content_for :page_title,  "TODO" %>

<div class="container-fluid">
  <h4><%= link_to 'Add TODO' , new_todolist_path %></h4>
  <h1>All TODOs</h1>
  <table class="table">
    <thead>
      <tr>
        <td>content</td>
        <td>complete time</td>
        <td>status</td>
        <td>priority</td>
        <td>action</td>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td><%= todo.complete_time %></td>
        <td><%= todo.status %></td>
        <td><%= todo.priority %></td>
        <td>
          <%= link_to (fa_icon "eye"), todolist_path(todo), class: 'btn' %>
          <%= link_to (fa_icon "edit"), edit_todolist_path(todo), class: 'btn' %>
          <%= link_to (fa_icon "trash"), todolist_path(todo), class: 'btn' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <script>

  </script>
</div>
