<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= admin_lab_forum_index_path %>">HanTing's website</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="<%= page_path('home') %>">Home</a></li>
      <li><a href="<%= admin_lab_forum_index_path %>">lab_forum</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Static Pages
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="<%= page_path('todo') %>">TODO Daily</a></li>
          <li><a href="<%= page_path('home') %>">HOME</a></li>
          <li><a href="<%= page_path('help') %>">HELP</a></li>
          <li><a href="<%= page_path('jsbasic') %>">jsbasic</a></li>
          <li><a href="<%= page_path('lotto') %>">lotto</a></li>
          <li><a href="<%= page_path('jiug') %>">Jiugongge</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li>
          <%= link_to simple_format('<i class="glyphicon glyphicon-log-out"></i> log out') , destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li><a href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>
