<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="<%= lab_forum_index_path %>">HanTing's website</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="<%= page_path('home') %>">HOME</a></li>
    <li class="nav-item"><a class="nav-link" href="<%= lab_forum_index_path %>">Lab Forum</a></li>
    <li class="nav-item"><a class="nav-link" href="<%= todolists_path %>">TODO</a></li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Pages
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="<%= page_path('todo') %>">TODO Daily</a>
        <a class="dropdown-item" href="<%= page_path('jsbasic') %>">Ajax Basic</a>
        <a class="dropdown-item" href="<%= page_path('lotto') %>">Lotto</a>
        <a class="dropdown-item" href="<%= page_path('jiug') %>">Squared Up</a>
        <a class="dropdown-item" href="<%= bmi_path %>">BMI calculator</a>
        <a class="dropdown-item" href="<%= name_path %>">HTML Forms</a>
        <a class="dropdown-item" href="<%= page_path('help') %>">Help</a>
      </div>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <%#= link_to "中文版", action: :set_locale, locale: "zh-TW" %>
    <%#= link_to "English", action: set_locale, locale: "en" %>
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      Account
    </a>
    <div class="dropdown-menu  dropdown-menu-right">
      <% if current_user %>
        <%= link_to simple_format('<i class="fa fa-log-out"></i> log out') , destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
        <a class="dropdown-item" href="<%= new_user_registration_path %>"><span class="fa fa-user"></span> Sign Up</a>
        <a class="dropdown-item" href="<%= new_user_session_path %>"><span class="fa fa-sign-in"></span> Login</a>
      <% end %>
    </div>
  </ul>
</nav>


